body{
    margin: 0px;
    font-family: "Fira-sans", sans-serif;
    color: var(--c13-color);
    max-width: 1200px;
    margin: 0 auto;
}
:root{
    --c1-color: #f5f5f5;
    --c2-color: #f0f0f0;
    --c3-color: #E0E0E0;
    --c4-color: #CCCCCC;
    --c5-color: #B8B8B8;
    --c6-color: #a3a3a3;
    --c7-color: #8f8f8f;
    --c8-color: #7A7A7A;
    --c9-color: #666666;
    --c19-color: #525252;
    --c11-color: #3D3D3D;
    --c12-color: #292929;
    --c13-color: #141414;
    --c14-color: #000000;
    --L1-color: #FA7D2F;
    --L2-color: #E3691D;
    --L3-color: #EF6014;
    --L4-color: #ba5a38;
    --a1-color:#1100ff;
    --y1-color: #98ac00;
    --v1-color: #28ac00;
    --cy-color: #00ac9d;
    --gradient-color: linear-gradient(#ef6014, #89370b);
}   
img{
    display: block;
    max-width: 100%;
}