.formacao {
  background: var(--c13-color);
  position: relative;
}
.formacao::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/arquivos/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}
.formacao-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titulo-formacao {
  text-transform: uppercase;
  font-size: 6rem;
  color: var(--c12-color);
}
.texto-formacao {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 80px;
  margin-left: -140px;
  color: var(--c4-color);
}
.texto-formacao strong {
  color: var(--c1-color);
}
.detalhes-formacao {
  margin-top: 30px;
  display: flex;
  font-size: 15px;
  gap: 20px;
  margin-left: -140px;
  margin-right: 140px;
}
.item-formacao {
  background: var(--c14-color);
  padding: 20px 20px;
  position: relative;
  font-weight: bold;
  color: var(--c3-color);
  display: grid;
  gap: 10px;
  max-width: 15ch;
}
.item-formacao::before {
  content: "";
  display: block;
  width: 7px;
  height: 20px;
  background: var(--gradient-color);
  position: absolute;
  top: 70px;
  left: -3px;
}
.nivel-curso {
  color: var(--c7-color);
  font-weight: bold;
  font-size: 13px;
}
.universidade {
  color: var(--c7-color);
  font-weight: bold;
  font-size: 15px;
}
.cursos-especializacao {
  margin-left: -140px;
  margin-right: 140px;
}
.cursos-especializacao h3 {
  font-size: 1rem;
  margin-top: 30px;
  position: relative;
  color: var(--c3-color);
}
.cursos-especializacao h3::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("/arquivos/cursos.svg") no-repeat;
  position: absolute;
  left: -45px;
  top: -3px;
}
.especializacao-titulos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.especializacao-titulos p {
  font-size: 0.9rem;
  color: var(--c1-color);
}
.especializacao-titulos span {
  color: var(--c8-color);
  font-size: 0.9rem;
}
.idiomas {
  margin-left: -140px;
  margin-right: 140px;
  margin-bottom: 60px;
}
.idiomas h3 {
  font-size: 1rem;
  margin-top: 30px;
  position: relative;
  color: var(--c3-color);
}
.idiomas h3::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("/arquivos/idioma.svg") no-repeat;
  position: absolute;
  left: -45px;
  top: -3px;
}
.idiomas li {
  display: flex;
  gap: 5px;
  align-items: center;
}
.idiomas p {
  font-size: 0.9rem;
  color: var(--c1-color);
}
.idiomas span {
  color: var(--c8-color);
  font-size: 0.9rem;
}
@media (max-width: 800px) {
  .formacao-conteudo {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 30px;
  }
  .titulo-formacao {
    color: #fff;
  }
  .texto-formacao {
    font-size: 1.25rem;
    margin-left: 10px;
  }
  .detalhes-formacao{
    margin-left: 10px;
  }
   .cursos-especializacao{
    margin-left: 50px;
   }
   .idiomas{
    margin-left: 50px;
   }
}
