body {
  margin: 0 auto;
  font-family: 'fira-sans', sans-serif;
  background-color: #fff;
  color: var(--c13-color);
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  position: relative;
}
img {
  max-width: 100%;
  display: block;
}
:root {
  --c1-color: #f5f5f5;
  --c2-color: #f0f0f0;
  --c3-color: #e0e0e0;
  --c4-color: #cccccc;
  --c5-color: #b8b8b8;
  --c6-color: #a3a3a3;
  --c7-color: #8f8f8f;
  --c8-color: #7a7a7a;
  --c9-color: #666666;
  --c10-color: #525252;
  --c11-color: #3d3d3d;
  --c12-color: #292929;
  --c13-color: #141414;
  --c14-color: #000000;
  --lista-projetos-color: #ef6014;
  --gradient-color: linear-gradient(90deg, #ef6014, #89370b);
  --detail-html-color: #ba5a38;
  --detail-css-color: #1100ff;
  --detail-js-color: #9bac00;
  --detail-node-color: #28ac00;
  --detail-sql-color: #00ac9d;
}
.filtro-html {
  background-color: var(--detail-html-color);
  padding: 10px 25px;
  max-width: 40px;
  color: var(--c2-color);
  border-radius: 5px;
  text-align: center;
}
.filtro-css {
  background-color: var(--detail-css-color);
  padding: 10px 25px;
  max-width: 40px;
  color: var(--c2-color);
  border-radius: 5px;
  text-align: center;
}
.filtro-javascript {
  background-color: var(--detail-js-color);
  padding: 10px 25px;
  max-width: 70px;
  color: var(--c2-color);
  border-radius: 5px;
  text-align: center;
}
.filtro-node {
  background-color: var(--detail-node-color);
  padding: 10px 25px;
  max-width: 70px;
  color: var(--c2-color);
  border-radius: 5px;
  text-align: center;
}
.filtro-sql {
  background-color: var(--detail-sql-color);
  padding: 10px 25px;
  max-width: 70px;
  color: var(--c2-color);
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
    text-align: left;
  }
}